name: Build and Push to Quay.io

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ github.actor }}
          password: ${{ secrets.QUAY_PASSWORD  }}

      - name: Build and push Docker image to Quay
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: quay.io/${{ github.actor }}/docker-quay-builder:latest

